<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <div id="sidebar-menu">

            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title" data-key="t-menu">Menu</li>

                <li class="{% if request.endpoint == 'dashboard.dashboard' %}mm-active{% endif %}">
                    <a class="{% if request.endpoint == 'dashboard.dashboard' %}active{% endif %}" href="{{ url_for('dashboard.dashboard') }}">
                        <i data-feather="home"></i>
                        <span data-key="t-dashboard">Dashboard</span>
                    </a>
                </li>

                <li class="{% if request.endpoint == 'dashboard.system_settings' %}mm-active{% endif %}">
                    <a class="{% if request.endpoint == 'dashboard.system_settings' %}active{% endif %}" href="{{ url_for('dashboard.system_settings') }}">
                        <i data-feather="settings"></i>
                        <span data-key="t-dashboard">System Settings</span>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</div>